
.main-container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.form{
  margin-top: 25px;
  width: 50%;
  height: 400px;
  background: rgb(219, 238, 235);
  border-radius: 15px;
  
}
.form {
  text-align: center;
}
.input{
  box-sizing: border-box;
  width: 80%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 255, 255);
  padding-left: 15px;
}
.btn{
  border-radius: 8px;
  border: none;
  color: white;
  background: rgb(241, 70, 175);
  width: 100px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.btn:hover{
  background-color: blueviolet;
}
.input:hover{
  background-color: blueviolet;
  color: white;
}
.input:focus{
  border: none;
  outline: none;
}
::placeholder{
  color: rgb(226, 191, 191);
}

table {
  width: 700px;
  margin-top: 25px;
  text-align: center;
  border-collapse: collapse;
  
}

table, td, th {
  border: 1px solid;
  padding: 15px;
  
}
.update{
  padding: 8px;
  background-color: blueviolet;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}
.delete{
  padding: 8px;
  background-color: red;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}
.user-list{
  width: 700px;
}